<div class="contact-card-container">
    <mat-card class="content-width">
        <mat-card-content>
            <mat-form-field color="primary" class="small-input" class="contact-subject">
                <mat-icon color="primary" matPrefix>title</mat-icon>
                <mat-label>Subject</mat-label>
                <input [formControl]="Subject" matInput>
            </mat-form-field>
            <div class="contact-attachment-container">
                <button disabled mat-button color="primary"><mat-icon>attach_file</mat-icon>Attach</button>
            </div>
            <div class="contact-quill-container">
                <quill-editor class="contact-quill" (onContentChanged)="QuillConent($event)">

                    <div quill-editor-toolbar>
                        <span class="ql-formats">
                            <button class="ql-bold" [title]="'Bold'"></button>
                            <button class="ql-italic" [title]="'Italic'"></button>
                            <button class="ql-underline" [title]="'Underline'"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-align" [title]="'Aligment'">
                                <option selected></option>
                                <option value="center"></option>
                                <option value="right"></option>
                                <option value="justify"></option>
                            </select>
                        </span>
                    </div>
                </quill-editor>
            </div>
        </mat-card-content>
        <mat-card-actions class="contact-send-container">
            <button (click)="Send()" mat-button color="primary"><mat-icon>send</mat-icon>Send</button>
        </mat-card-actions>
    </mat-card>
</div>