.contact-card-container{
    padding: 1em;
    display: flex;
    justify-content: center;
}
.contact-subject{
    width: 100%;
}
.contact-attachment-container{
    padding-bottom: 1em;
}
.contact-send-container{
    padding: 1em;
    display: flex;
    justify-content: right;
}
.contact-quill{
    display: block;
}