<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>filter_alt</mat-icon> Filters
        </mat-panel-title>
        <mat-panel-description>
            Refine the list.
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div id="filter-container" class="filter-container">
        <div class="filter-group">
            <mat-form-field color="accent" class="filter-input large-input" appearance="outline">
                <mat-icon matPrefix>attach_money</mat-icon>
                <mat-label>Price &gt;</mat-label>
                <input matInput >
            </mat-form-field>
            <mat-form-field color="accent" class="filter-input large-input" >
                <mat-icon matPrefix>attach_money</mat-icon>
                <mat-label>Price &lt;</mat-label>
                <input matInput >
            </mat-form-field>
        </div>
        <div class="filter-group">
            <mat-form-field color="primary" class="large-input" >
                <mat-label>Size &gt;</mat-label>
                <input matInput >
                <span matSuffix class="text-suffix">ft²</span>
            </mat-form-field>
            <mat-form-field color="primary" class="large-input" >
                <mat-label>Size &lt;</mat-label>
                <input matInput >
                <span matSuffix class="text-suffix">ft²</span>
            </mat-form-field>
        </div>
        <div class="filter-group">
            <mat-form-field color="primary" class="small-input">
                <mat-icon matPrefix>bed</mat-icon>
                <mat-label>Bed &gt;</mat-label>
                <input matInput >
            </mat-form-field>
            <mat-form-field color="primary" class="small-input">
                <mat-icon matPrefix>bed</mat-icon>
                <mat-label>Bed &lt;</mat-label>
                <input matInput >
            </mat-form-field>
        </div>
        <div class="filter-group">
            <mat-form-field color="primary" class="small-input">
                <mat-icon matPrefix>shower</mat-icon>
                <mat-label>Bath &gt;</mat-label>
                <input matInput >
            </mat-form-field>
            <mat-form-field color="primary" class="small-input">
                <mat-icon matPrefix>shower</mat-icon>
                <mat-label>Bath &lt;</mat-label>
                <input matInput >
            </mat-form-field>
        </div>
        <div class="filter-group">
            <mat-form-field color="primary" class="medium-input" >
                <mat-label>Location</mat-label>
                <input matInput >
                <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>
            <mat-form-field color="primary" class="small-input" >
                <mat-label>Range</mat-label>
                <input matInput>
                <span matSuffix class="text-suffix">±Mi</span>
            </mat-form-field>
        </div>
        <div class="filter-group">
            <mat-checkbox>For Sale</mat-checkbox>
            <mat-checkbox>For Rent</mat-checkbox>
        </div>
        <div class="filter-group">
            <mat-form-field color="primary" class="large-input">
                <mat-label>Tag</mat-label>
                <input matInput >
            </mat-form-field>
        </div>
    </div>
</mat-expansion-panel>