<mat-card class="listing-card">
    <img mat-card-image [src]="Listing.Image" alt="Listing Image">
    <mat-card-content>
        <h2>{{Listing.Price | currency: 'USD'}}</h2>
        <h3>
            <span class="room-count">{{Listing.Bed ?? 0}}</span> Bed
            <span class="room-count">{{Listing.Bath ?? 0}}</span> Bath
        </h3>
        <h4>{{Listing.Street}} <br *ngIf="Listing.City || Listing.State" />
            {{Listing.City}}{{Listing.State ? ', ' + Listing.State : ''}}</h4>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>