<div id="dad-app-header" class="dad-app-header">
  <mat-toolbar class="dad-app-toolbar">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon id="dad-app-header-icon" class="dad-app-header-icon">home</mat-icon>
    </button>
    <span [routerLink]="['/']" id="dad-app-header-title" class="dad-app-header-title">Jeff Morris with RE/MAX</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/']">
        <mat-icon>house</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['/listings']">
        <mat-icon>list</mat-icon>
        <span>Listings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>map</mat-icon>
        <span>Map</span>
      </button>
      <button mat-menu-item>
        <mat-icon>mail</mat-icon>
        <span>Contact</span>
      </button>
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>