<div id="listing-filters-container" class="listing-filters-container">
    <app-listing-filters></app-listing-filters>
</div>
<div id="listing-result-container" class="listing-result-container">
    <div *ngFor="let listing of (PagedListings | async)" class="listing-card-container" ngStyle.xs="display:none">
        <app-listing-card [Listing]="listing"></app-listing-card>
    </div>
    <div class="listing-card-container"></div>
    <div class="listing-card-container"></div>
    <div class="listing-card-container"></div>
    <div class="listing-card-container"></div>
    <div class="listing-card-container"></div>
</div>