@import './../../../mixins.scss';

.list-item-card-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}
.list-item-rows-card{
    width: 100%;
}

.list-item-rows-container{
    padding: 1em;
}

.list-item-row {
    padding: 0 1em 0 1em;
}

.list-item-row-image{
    width: 20em;
}

.list-item-row-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 1em;
    gap: 1em;
}

.list-item-grid-card-container {
    flex-grow: 1;
    @include xs{
        width: calc(100%);
        flex-basis: calc(100%);
    }
    @include sm{
        width: calc(48%);
        flex-basis: calc(40%);
    }
    @include md{
        width: calc(30%);
        flex-basis: calc(30%);
    }
    @include lg{
        width: calc(20%);
        flex-basis: calc(20%);
    }
    @include xl{
        width: calc(10%);
        flex-basis: calc(10%);
    }
} 