<div id="banner-container" class="banner-container">
    <div #bannerImage id="bannerImage" class="bannerImage" [hidden]="!(ViewData | async)?.Banner"></div>
    <div id="home-container" class="home-container">
        <div id="home-content" class="home-content content-width-cap">
            <div id="home-content-header">
                <div #bannerAvatar id="bannerAvatar" class="bannerAvatar" [hidden]="!(ViewData | async)?.Avatar"></div>
                <div id="home-content-header-text" class="home-content-header-text">
                    <div id="home-content-header-name" class="mat-headline-4 home-content-header-name" [hidden]="!(ViewData | async)?.Header">
                        {{(ViewData | async)?.Header}}
                    </div>
                    <div id="home-content-header-company" class="mat-headline-5 home-content-header-company" [hidden]="!(ViewData | async)?.SubHeader">
                        {{(ViewData | async)?.SubHeader}}
                    </div>
                    <div id="home-content-header-slogan" class="mat-caption home-content-header-company" [hidden]="!(ViewData | async)?.Caption">
                        {{(ViewData | async)?.Caption}}
                    </div>
                </div>
            </div>
            <div id="home-content-text" class="home-content-text">
                {{(ViewData | async)?.Content}}
            </div>
        </div>
        <div id="home-menu" class="home-menu" *ngIf="(ViewData | async)?.Buttons as BannerButtons">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let button of BannerButtons">
                    <button class="list-button" mat-button color="primary" [routerLink]="[button.RouterLink]">
                        <mat-icon>{{button.Icon}}</mat-icon> {{button.Display}}
                    </button>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>