.banner-image {
    width: 100%;
    height: 30em;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 3em 5em var(--theme-fuzz);
}

.banner-container{
    display: flex;
    justify-content: center;
    padding: 1em;
}
.banner-avatar{
    background-image: url('/assets/images/agent.jpg');
    background-size: cover;
    background-position-y: -30px;
    background-position-x: center;
    width: 9em;
    height: 9em;
    border-radius: 3em;
}
.home-content-header{
    display: flex;
    align-items:start;
}
.home-content-header-text{
    padding-left: 1em;
}
.home-content-header-name, 
.home-content-header-company, 
.home-content-header-slogan
{
    margin: 0;
}
.upper-actions,
.lower-actions {
    display: flex;
    justify-content: right;
}
.view-card-footer{
    padding: 0 8px 0 8px;
}