<mat-form-field [style]="FieldText?.Style" [appearance]="FieldText?.Appearance ?? 'fill'">
    <mat-label *ngIf="FieldText?.Label">{{FieldText?.Label}}</mat-label>
    <input [attr.list]="FieldText?.Key+'-list'" [formControl]="FieldText?.Control!" matInput type="text">
    <datalist [id]="FieldText?.Key+'-list'" *ngIf="FieldText?.DataList as dataList">
        <option *ngFor="let data of dataList" [value]="data.Value === undefined ? data.Display : data.Value">
            {{data.Display === undefined ? data.Value : data.Display}}</option>
    </datalist>
</mat-form-field> 