<div class="center-flex settings-container">
    <div class="content-width-cap settings-content">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Color
                    </mat-panel-title>
                    <mat-panel-description>
                        Choose your color scheme.
                        <mat-icon>palette</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="settings-panel-content">
                    <app-settings-colors></app-settings-colors>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>